*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"SF PRO DISPLAY";
}
*::-webkit-scrollbar{
    display:none;
}
html,body{
    height:100%;
    width:100%;
}
#page1{
    height:100vh;
    width:100%;
    background-color:#dadada ;
    position:relative;
}
#page2{
    height:100vh;
    width:100%;
    background-color:#fff;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    padding:40px 0;
    position:relative;
}
#nav{
    height:70px;
    width:95%;
    background-color:#fff;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:0 40px;
    position:absolute;
    /* z-index:999; */
    margin-top:15px;
    margin-left:2.5%;
    border-radius:15px;
}
#nav img{
    height:40px;
}
#nav #right{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-right:50px;
    position: relative;
    gap: 20px;
}
#nav #right h3{
    font-weight:500;
    cursor:pointer;
    color:#95857F;
    margin: 0;
    padding: 0;
}
#nav #right a{
    text-decoration:none;
    color:#000;
    display: flex;
    align-items: center;
    /*gap: 10px;*/
}
#nav #right a:last-child {
    margin-right: 0;
}

#nav #right a h3 {
    margin: 0 5px 0 0;
}
#right i{
    font-size: 18px;
    color: #95857F;
    /*margin-left: 10px;*/
}
#image{
    height:100%;
    width:100%;
}
#page1 #image img{
    height:100%;
    width:100%;
    object-fit:cover;
}
#page1 #contact{
    height:35%;
    width:40%;
    background-color: rgba(0,10,0,0.5);
    position:absolute;
    z-index:999;
    left:5%;
    bottom:20%;
    padding:0 70px;
}
#contact h2{
    font-size:43px;
    font-weight:500;
    letter-spacing:-0.5px;
    margin-top:50px;
    color:#fff;
    margin-bottom:20px;
}
#contact p{
    color:#fff;
    font-size:17px;
    margin-left:23px;
    margin-bottom:20px;
    opacity:0.9;
}
#contact button{
    margin-left:140px;
    padding:10px 20px;
    border-radius:13px;
    background-color:#CDAA9D;
    color:#fff;
    cursor:pointer;
    font-size:17px;
    border:none;
}
#page2 .cards{
    height:43%;
    width:30%;
    background-color:red;
    border-radius:25px;
}
.cards .cardimg{
    height:100%;
    width:100%;
}
.cards img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius:25px;
}
#page2 .cards#second h2{
    background-color:#fff;
    padding:7px 5px;
    width:200px;
    padding-left:40px;
    border-radius:8px;
    position:absolute;
    left: 43%;
    font-weight:500;
    top:38%;
    cursor:pointer;
}
#page2 .cards#third h2{
    background-color:#fff;
    padding:7px 5px;
    width:200px;
    padding-left:38px;
    border-radius:8px;
    position:absolute;
    right:12%;
    font-weight:500;
    top:38%;
    cursor:pointer;
}
#page2 .cards#fourth h2{
    background-color:#fff;
    padding:7px 5px;
    width:200px;
    padding-left:38px;
    border-radius:8px;
    position:absolute;
    left:12%;
    font-weight:500;
    bottom:10.5%;
    cursor:pointer;
}
#page2 .cards#fifth h2{
    background-color:#fff;
    padding:7px 5px;
    width:250px;
    padding-left:38px;
    border-radius:8px;
    position:absolute;
    left:42%;
    font-weight:500;
    bottom:10.5%;
    cursor:pointer;
}
#page2 .cards#sixth h2{
    background-color:#fff;
    padding:7px 5px;
    width:200px;
    padding-left:38px;
    border-radius:8px;
    position:absolute;
    right:11.3%;
    font-weight:500;
    bottom:10.5%;
    cursor:pointer;
}
#page3{
    height:100vh;
    width:100%;
}
#page3 #vid{
    height:100%;
    width:100%;
    /* background-color:red; */
}
#page3 video{
    height: 96%;
    width:94%;
    object-fit: cover;
    margin-left:3%;
    border-radius:25px;
    border:5px solid azure;
}
#page4{
    height:100vh;
    width:100%;
    /* background-color:#dadada; */
}
#page4 h1{
    font-weight:550;
    margin-left:40%;
    font-size:40px;
    letter-spacing:-0.3px;
    margin-bottom:30px;
}
#page4 #storycard{
    height:90%;
    width: 100%;
    display:flex;
}
#page4 #left{
    height:100%;
    width: 35%;
    /* background-color:yellow; */
}
#page4 #right{
    height: 100%;
    width:65%;
    /* background-color:green; */
    display:flex;
}
#left #upper{
    height: 60%;
    width:100%;
    /* background-color: aqua; */
    padding:10px 45px;
}
#left #lower{
    height:40%;
    width: 100%;
    /* background-color:bisque; */
    padding:0px 45px;
}
#left #upper img{
    height: 90%;
    width:90%;
    object-fit:cover;
    /* padding:10px 25px; */
    border-radius:15px;
}
#left #lower img{
    height: 100%;
    width:100%;
    object-fit:cover;
    border-radius:15px;
}
#right #r1{
    height:100%;
    width:50%;
    /* background-color: red; */
}
#right #r2{
    height: 100%;
    width: 50%;
    /* background-color:pink; */
}
#r1 #top{
    height: 40%;
    width: 100%;
    /* background-color: yellow; */
    padding:10px 0;
}
#r1 #bottom{
    height: 60%;
    width:100%;
    /* background-color:black; */
}
#r2 #uper{
    height: 60%;
    width:100%;
    /* background-color:green; */
    padding:10px 45px;
}
#r2 #niche{
    height:40%;
    width: 100%;
    /* background-color:purple; */
    padding:0px 45px;
}
#r1 #top img{
    height:90%;
    width: 90%;
    object-fit:cover;
    border-radius:15px;
}
#r1 #bottom img{
    height:100%;
    width: 100%;
    object-fit:cover;
    border-radius:15px;
}
#r2 #uper img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius:15px;
}
#r2 #niche img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius:15px;
}
#page5{
    height:100vh;
    width: 100%;
    background-color:#fff;
}
#page5 h1{
    font-weight:550;
    letter-spacing:-0.7px;
    text-transform:uppercase;
    word-spacing:3px;
    margin-left:39%;
    font-size:38px;
    margin-top:40px;
    margin-bottom:20px;
}
#page5 #last{
    height:80%;
    width:100%;
    /* background-color:red; */
    display:flex;
}
#last #lleft{
    height:100%;
    width:50%;
    /* background-color:green; */
    padding:10px 45px;
}
#last #lright{
    height: 100%;
    width:50%;
    /* background-color:pink; */
}
#last #lleft img{
  height:80%;
  width: 100%;
  border-radius:15px;
  object-fit:cover;
  margin-bottom:10px;
  margin-top:10px;
}
#lleft h2{
    font-weight:490;
    letter-spacing:-0.5px;
    font-size:28px;
    margin-bottom:9px;
}
#lleft a {
    text-decoration:none;
    color:#000;
}
#lleft p{
    opacity:0.9;
    font-size:15px;
}
#lright .sections{
    height: 30%;
    width:100%;
    /* background-color:royalblue; */
    margin-bottom:20px;
    display:flex;
    margin-top:20px;
}
.sections .secimg{
    height:100%;
    width:30%;
    /* background-color: red; */
}
.sections .secimg img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius:15px;
}
.sections .info{
    height: 100%;
    width:70%;
    /* background-color:yellow; */
    padding:20px 25px;
}
.info h2{
    font-weight:490;
    font-size:28px;
    letter-spacing:-0.5px;
    margin-bottom:10px;
}
.info p{
    font-size:15px;
    opacity:0.9;
}
.info a{
    text-decoration:none;
    color:#000;
}
#page5 #footer{
    height:20%;
    width:100%;
    background-color:#F1EDEC;
    margin-top:30px;
}
#footer img{
    height:50px;
    margin-left: 43%;
    margin-bottom:9px;
    margin-top:10px;
}
#footerelem{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-top:-10px;
}
#footerelem h3{
    font-size:17px;
    font-weight:500;
    text-transform:uppercase;
}
#footerelem a{
    text-decoration:none;
    color:#000;
}
#footer #icons{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:15px;
    gap:10px;
}
#icons i{
    font-size:23px;
    padding:6px;
    background-color:#fff;
    border-radius:50%;
    cursor:pointer;
}
#icons i:nth-child(1):hover{
    color:#1877F2;
    /* border:1px solid #1877F2; */
}
#icons i:nth-child(2):hover{
    color:	#1DA1F2;
    /* border:1px solid #1DA1F2; */
}
#icons i:nth-child(3):hover{
    color:#E50593 ;
    /* border:1px solid #E50593; */
}
#icons a{
    color:#000;
    text-decoration:none;
}